/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	padding-top:160px;
}

.header_short{
	background:url('../img/header_long.jpg');
	background-position:left;
	height: 45px;
}

.header_long{
	background-image:url('../img/side_header.jpg');
	height: 45px;
}

.header_short a{
	line-height: 0; 
    font-size: 0;
    color: transparent;
}

.header_long a{
	line-height: 0; 
    font-size: 0;
    color: transparent;
}

.narrow{
	width:415px;
	padding-left:10px;
	padding-right:10px;
}

.narrow h3{
	padding-top:5px;
}
.narrow h4{
	margin-top: -10px;
}

.progress .bar {
	width: 5.5%;
}

.inst_header{
	color: #FFF;
	position: fixed;
	top:30px;
	width:100%;
	background-color: #000;
	display:block;
}

section{
	height:900px;
}

section h2{
	color: #0e90d2;
}

section .btn{
	margin-bottom: 10px;
}

section .feedback{
	display: none;
	padding-top: 100px;
}

section .feedback h2{
	color: #347235;

}
.next{
	position: fixed; bottom:5px;right:10px;
}

.back{
	position: fixed; bottom:5px;
}

/*
#hidden-nav a:active{
	background-color: black;
}*/













