/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	padding-top:140px;
}

.narrow{
	width:415px;
	padding-left:10px;
	padding-right:10px;
}

.progress .bar {
	width: 5.5%;
}

.inst_header{
	position: fixed;
	top:30px;
	width:100%;
	background-color: #F2F2F2;
	display:block;
}
section{
	height:900px;
}

.next{
	position: fixed; bottom:5px;right:10px;
}

.back{
	position: fixed; bottom:5px;
}

/*
#hidden-nav a:active{
	background-color: black;
}*/













