branches:
  only:
    - master
language: python
python:
- '2.7'
install: pip install -r requirements.txt --use-mirrors
before_script:
  - psql -c 'create database bizfriendly_test;' -U postgres
script: coverage run --source=bizfriendly tests.py
after_success:
  - coveralls
notifications:
  webhooks: http://cfa-project-monitor.herokuapp.com/projects/2b40577c-2e35-4893-affa-c7fe5cfbe6b5/status