

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
}

.narrow{
	width:420px;
}

.inst_header{
	
}

.progress .bar {
	width: 0%;
}

.inst_header{
	position: fixed;
	top:30px;
	width:100%;
	background-color: #F2F2F2;
	display:block;
}

#link1{
	height: 900px;
}
#link2{
	height: 900px;
}
#link3{
	height: 900px;
}

section{
	margin-top:200px;
}

.next{
	position: fixed; bottom:5px;left:80%;
}













