/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	padding-top:160px;
}

.header{
	background-image:url('../img/side_header.jpg');
	height: 45px;
}

.narrow{
	padding-left:10px;
	padding-right:10px;
}

.inst_header h4{
	padding-top:15px;
}

.inst_header h5{
	margin-top: -10px;
}

.progress .bar {
	width: 5.5%;
}

.inst_header{
	color: #FFF;
	position: fixed;
	top:30px;
	width:100%;
	background-color: #000;
	display:block;
}

section{
	height:900px;
}

section h2{
	color: #0e90d2;
}

section .btn{
	margin-bottom: 10px;
}

.feedback{
	display: none;
	padding-top: 100px;
}

.feedback h2{
	color: #347235;
}

.congrats{
	color: #347235;
}

.pageName, .pageAbout, .pageWebsite{
	font-weight:bold;
}

.feedback2{
	display: none;
}

.next{
	position: fixed; bottom:5px;right:10px;
}

.back{
	position: fixed; bottom:5px;
}