{% extends "base.html" %}

{% block header %}
<div class="navbar navbar-fixed-top">
	<div class="header">
		<div class="container">
			<img src="{{ url_for('static', filename='img/header_long.jpg') }}">
		</div>
	</div>
</div>
{% endblock %}

{% block main %}
<div class="container page">
  <div class="content">
    <div class="page-header">
      <h2>Lessons</h2>
      <div class="row">
        <ul class="thumbnails">
          {% for lesson in lessons %}
            {% for category in categories %}
              {% if lesson.category_id == category.id %}
                <li class="span4">
                  <a href="{{category.url}}/{{lesson.url}}">
                    <h4>{{ lesson.name }}</h4>
                    <p>{{ lesson.description }}</p>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul> 
      </div>
    </div>
  </div>
</div>
{% endblock %}
