{% extends "base.html" %}

{% block head_js %}
{% endblock %}

{% block header %}
<div class="navbar navbar-fixed-top">
    <div class="header">
        <div class="narrow">
          <img src="{{ url_for('static', filename='img/header.jpg') }}">
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<a class="back btn btn-large">Back</a>
<a class="next btn btn-large">Next</a>
{% endblock %}

{% block footer %}
<div class="inst_footer"></div>
{% endblock %}

{% block js_footer %}
{% endblock %}
