/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	padding-top:60px;
}


.narrow{
	width:415px;
	padding-left:10px;
	padding-right:10px;
}

.progress .bar {
	width: 5.5%;
}

.inst_header{
	position: fixed;
	top:30px;
	width:100%;
	background-color: #F2F2F2;
	display:block;
}
section{
	padding-top:130px;
	height:900px;
}

.next{
	position: fixed; bottom:5px;left:80%;
}

.tester{
	position: fixed; bottom:50px;left:80%;
}

#link1{
	padding-top:60px;
}
/*
#hidden-nav a:active{
	background-color: black;
}*/













