<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>How to City{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <style> body { padding-top: 60px; } </style>
    <!-- <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet"> -->

    <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">

    <script src="{{ url_for('static', filename='js/vendor/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.popupwindow.js') }}"></script>
    {% endblock %}
  </head>

  <body>

    {% block navbar %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">How to City</a>
              <div class="nav-collapse">
                <ul class="nav">
                </ul>
                {% block navbar_right %}
                <ul class="nav pull-right">
                  {% if not session.logged_in %}
                    <li><a href="#">Login or Signup</a></li>
                  {% else %}
                    <li><a href="#">Logout</a></li>
                  {% endif %}
                </ul>
                {% endblock %}
              </div><!--/.nav-collapse -->
            </div>
          </div>
    </div>
    {% endblock %}

    <div class="container page">
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>

        <hr>

        {% block footer %}
        <footer class="footer">
            <p>&copy; How to City</p>
        </footer>
        {% endblock %}

    </div>
    {% block js_footer %}
      <script src="{{url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
    {% endblock %}
  </body>
</html>