{% extends "base.html" %}

{% block header %}
<div class="navbar navbar-fixed-top">
	<div class="header">
		<div class="container">
			<img src="{{ url_for('static', filename='img/header_long.jpg') }}">
		</div>
	</div>
</div>
{% endblock %}

{% block main %}
<div class="container page">
  <div class="content">
    <div class="page-header">
      <h2>Categories</h2>
      <div class="row">
        <ul class="thumbnails">
          {% for category in categories %}
            <li class="span4">
              <a href="category/{{category.url}}">
                <h4>{{ category.name }}</h4>
                <p>{{ category.description }}</p>
              </a>
            </li>
          {% endfor %}
        </ul> 
      </div>
    </div>
  </div>
</div>
{% endblock %}
