{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
{% if not session.logged_in %}
    <div class="narrow">
            <div class="inst_header">
              <h3>Promote Your Business Online</h3>
              <div class="progress">
                <div class="bar"></div>
              </div>
            </div>

            <a class="next btn" href="#">Next</a>

        <section id="link1">
            <h2>1. Sign into FB!</h2>
            <div id="fb-root"></div>
        </section>
        <section id="link2">
            <h2>2. Click on create a Page!</h2>
            <a id="fb_pages" class="btn btn-primary btn-large">https://www.facebook.com/pages/create/</a>
       </section>
        <section id="link3">
            <h2>3. Do the page thing</h2>
        </section>
    </div>
        <hr>

        <footer>
            <p>&copy; Company 2012</p>
        </footer>
     <p>You are not logged in.</p>
{% else %}
     <p>You are logged in.</p>
{% endif %}
{% endblock %}
{% block js_footer %}
<script src="{{url_for('static', filename='js/facebook_page.js')}}"></script>
{% endblock %}