{% extends "base.html" %}

{% block header %}
<div class="navbar navbar-fixed-top">
	<div class="header">
		<div class="container">
			<img src="{{ url_for('static', filename='img/header_long.jpg') }}">
		</div>
	</div>
</div>
{% endblock %}

{% block main %}
<div class="container page">
  <div class="content">
    <div class="page-header">
      <h2>Welcome to the web.</h2>
      <div class="row">
        <ul class="thumbnails">
          <li class="span4">
            <a href="categories">
              <h4>Learn</h4>
              <p>Learn how to do the webs.</p>
            </a>
          </li>
          <li class="span4">
            <a href="teach">
              <h4>Teach</h4>
              <p>Teach the webs.</p>
            </a>
          </li>
          <li class="span4">
            <a href="connect">
              <h4>Connect</h4>
              <p>Connect with others on the webs.</p>
            </a>
          </li>
        </ul> 
      </div>
    </div>
  </div>
</div>
{% endblock %}