{% extends "base.html" %}

{% block header %}
<div class="navbar navbar-fixed-top">
	<div class="header">
		<div class="container">
			<img src="{{ url_for('static', filename='img/header_long.jpg') }}">
		</div>
	</div>
</div>
{% endblock %}

{% block main %}
<div class="container page">
  <div class="content">
    <div class="page-header">
      <h2>{{ category.name }}</h2>
      <h3>Lessons</h3>
      <div class="row">
        <ul class="thumbnails">
          {% for lesson in lessons %}
            <li class="span4">
              <a href="{{ category.url }}/lesson/{{ lesson.url }}">
                <h4>{{ lesson.name }}</h4>
                <p>{{ lesson.description }}</p>
              </a>
            </li>
          {% endfor %}
        </ul> 
      </div>  
  </div>
</div>
{% endblock %}