<html>
<body>

<h1>Sign In</h1>

<div class="well">
    <form class="form-horizontal" action="" method="post" name="login">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                {{ form.email }}
                {% for error in form.errors.email %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                {{ form.password }}
                {% for error in form.errors.password %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-warning" type="submit" value="Sign In">
            </div>
        </div>
    </form> 
</body>
</html>
